/*global styles */
/* Reset some default styles */
/* This is a global CSS file that applies styles to the entire application */
/* It sets the base styles for the HTML elements, including font size, background color, and text color */

/* Les reset CSS
Les polices globales
Les couleurs de base
Des styles généraux (body, h1, etc.) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-size: 1.2rem; /* 16px */
  line-height: 1.5;
}
